h1 {
	color: #6A5ACD;
	text-align: center;
	animation: blinker 1s linear infinite;
	position: absolute;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin-left: -50px; /* margin is -0.5 * dimension */
    margin-top: -25px; 
}
@keyframes blinker {  
  50% { opacity: 0; }
}

body {
	background: url(https://media.giphy.com/media/1oE3Ee4299mmXN8OYb/giphy.gif);
	background-color: #FFB6C1;
	background-size: cover;
}

div:nth-child(even){
	float: right;
}