table {
	margin: auto;
}

td {
	width: 100px;
	height: 100px;
}
h1 {
	text-align: center;
}

.horz {
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

.vert {
	border-left: 2px solid black;
	border-right:2px solid black;
}